/PRACTICA 1/Include/*
/PRACTICA 1/Lib/*
/PRACTICA 1/Scripts/*
/PRACTICA 1/pyvenv.cfg
/PRACTICA 1/pip-selfcheck.json
/PRACTICA 1/practica_1-20210430T172353Z-001.zip

/PRACTICA 2/Include/*
/PRACTICA 2/Lib/*
/PRACTICA 2/Scripts/*
/PRACTICA 2/pyvenv.cfg
/PRACTICA 2/pip-selfcheck.json
/PRACTICA 2/practica_2-20210429T193313Z-001.zip
/PRACTICA 2/properati-AR-2018-02-01-properties-sell.csv

/PRACTICA 3/Include/*
/PRACTICA 3/Lib/*
/PRACTICA 3/Scripts/*
/PRACTICA 3/pyvenv.cfg
/PRACTICA 3/pip-selfcheck.json
/PRACTICA 3/practica3.zip
/PRACTICA 3/practica3.pdf
/PRACTICA 3/postgresql-9.5-A4.pdf
/PRACTICA 3/top-1m.csv
/PRACTICA 3/world.sql

/PRACTICA 4/ejercicio4_mio.py
/PRACTICA 4/nube_palabrasv2.py
/PRACTICA 4/geodata/*
/PRACTICA 4/crisis.20190410.json.gz
/PRACTICA 4/world.sql

/.vscode/*